/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* RESETTING */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary-100: #9fdccf;
  --primary-200: #87d4c3;
  --primary-300: #7acfbd;
  --primary-400: #62c7b1;
  --primary-500: #56c2aa;
  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* others */
  --font: 'Space Mono', monospace;
  --black: #000;
  --white: #fff;
  --transition: all 0.3s ease-in-out;
  --spacing: 1px;
  --radius: 8px;
  --backgroundColor: var(--grey-50);
  --color: var(--grey-900);
  --dark-mode-bg: #222;
  --dark-mode-color: #fff;
}

.dark-theme {
  --backgroundColor: var(--dark-mode-bg);
  --color: var(--dark-mode-color);
}

body {
  font-family: var(--font);
  background: var(--backgroundColor);
  color: var(--color);
  transition: var(--transition);
}

img {
  display: block;
  width: 100%;
}
.btn {
  display: inline-block;
  padding: 0.375rem 0.775rem;
  color: var(--white);
  background-color: var(--primary-300);
  border: transparent;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  font-weight: 600;
  font-family: inherit;
}

section {
  padding: 2rem 0;
}

.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.gallery {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.gallery img {
  height: 17rem;
  object-fit: cover;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  padding: 0.375rem 0.775rem;
  font-family: inherit;
  border: transparent;
  text-transform: capitalize;
  outline: none;
}
.dark-theme .input {
  background-color: var(--grey-700);
  color: var(--white);
}
.dark-theme .input::placeholder {
  color: var(--white);
}

.toggle-section {
  text-align: right;
}
